
@media (prefers-reduced-motion: no-preference) {
  .app {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body{
    font-family: system-ui;
  }
}

